button {
    height: 60px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    color: #000000;
    font-size: 40px;
}
button:hover {
    color: deeppink;
}
